# Docker stack
COMPOSE_PROJECT_NAME="hot-o-llama"
VOLUME_PATH="./"
NETWORK_PREFIX="172.31.245." # Third octate should be different for each stack
NETWORK_SUBNET="${NETWORK_PREFIX}0/24"
NETWORK_GATEWAY="${NETWORK_PREFIX}1"
USER_ID=0
USER_GROUP_ID=0
DOMAIN="domain.tld"
HOSTNAME="hot-o-llama.${DOMAIN}"
TIME_ZONE="Etc/UTC"
DEFAULT_PASSWORD="Your-Meaningless-Very-Serious-Ugly-Password-99"

# OLLaMA
OLLAMA_DEFAULT_MODEL="gemma4:e2b-it-q4_K_M"
OLLAMA_CONTEXT_LENGTH=16384
OLLAMA_CPU_THREAD_LIMIT=4
OLLAMA_PARALLEL_CHAT=2
OLLAMA_MODELS_LOADED=2
OLLAMA_MODEL_IDLE_TIMMEOUT="60m"
OLLAMA_IP_HTTP="0.0.0.0"
OLLAMA_IP_HTTP="${NETWORK_GATEWAY}" # Comment out to expose over all networks
OLLAMA_PORT_HTTP=11434

# NginX
NGINX_TIMEOUT=300
NGINX_IP_HTTP="0.0.0.0"
# NGINX_IP_HTTP="${NETWORK_GATEWAY}" # Comment out to expose over all networks
NGINX_PORT_HTTP=65482

